#serverlist{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
}

#name {
	position: absolute;
	top: 24px;
	left: 24px;
	font-size: 20px;
}

#ip {
	position: absolute;
	left: 24px;
	bottom: 24px;
}

#map {
	position: absolute;
	bottom: 24px;
	left: 224px;
}

#players {
	position: absolute;
	bottom: 24px;
	right: 150px;
}

#bots {
	position: absolute;
	bottom: 24px;
	right: 24px;
}
